<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156623633534-n35vlmu3df6hq17smlciv5av9546c3ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156623633534-n35vlmu3df6hq17smlciv5av9546c3ok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156623633534-0f0ugpqd9q19vg0mn2j4uc9u572r77lk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7sFJoBVGdXnSHjx46mFBZWzWXGjmWadI</string>
	<key>GCM_SENDER_ID</key>
	<string>156623633534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadnotes</string>
	<key>PROJECT_ID</key>
	<string>carnet-de-voyage-20c9a</string>
	<key>STORAGE_BUCKET</key>
	<string>carnet-de-voyage-20c9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156623633534:ios:2d8fa26742e48c19062c2f</string>
	<key>DATABASE_URL</key>
	<string>https://carnet-de-voyage-20c9a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>